*{
  font-family: 'Poppins', sans-serif;

}

.container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 100px ;
    margin-bottom: 180px;
    padding: 30px;
    border-radius: 25px;
    background-color: #f9f9f9;
    box-shadow: 0 0 20px gray;  
  }
  
  h2 {
    text-align: center;
    font-size: 60px;
    margin-top:15px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
  

  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 18px;
    padding: 10px;
    margin-bottom: -10px
    
  }
  
  input {
    padding: 8px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 10px;
    
  }
  
  button {
    padding:8px;
    width: 150px;
    margin-left: 68px;
    font-size: 18px;
    background-color: #0f0f0f;
    color: rgb(231, 231, 231);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .10em;
    
  }
  
  button:hover {
    opacity: .90;
    cursor: pointer;
  }